/* ITENS BODY - HEADER - NAV */

*{
    box-sizing: border-box;
}
body {
    --min-height: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

p{
    background-color: #ba0403;
    width: 100%;
    text-align: center;
}

/* MAIN - MENU - LOGO - CAPA */

/* MENU */

.menu{
    position: fixed;
    background-color: #ba0403;
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
}

.logomenu{
    width: 11%;
    --border:5px solid violet;
    padding: 20px 0px 20px 0px;
    margin: 0px 0px 0px 200px;    
}

.logomenumain{
    width: 13%;
    --border:5px solid violet;
    padding: 0px 20px 0px 20px;
    margin: 0px 0px 4px 0px;
}
/* FIM - MENU */
/* LOGO PAGINAS */

.logo{
    --border: 4px violet solid;
    background-color: #ba0403;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    margin: 56px 0px 10px 0px;
}

.imglogo{
    width: 10%;
}

/* FIM - LOGO PAGINAS */
/* CAPA INDEX */

.imagemcapa{
    --border: 4px violet solid;
    width: 100%;
    height: 820px;
}

.maincapadiv{
    margin: -50px 0px 30px 0px;
    text-align: center;
    --border: 2px black solid;    
}
.maincapa{
    width: 40px;
    height: 25px;
    padding: 0;
    margin: 0;
}

/* FIM - CAPA INDEX */

.sessoes{
    height: 920px;
    width: 20%;
    background-color: white;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.sessoes-titulo{
    font-size: 30px;
    margin-left: 20px;
    margin: 30px 20px 30px 20px;
}

.sessoes-categoria{
    font-size: 25px;
    margin-left: 25px;
    margin: 30px 20px 30px 20px;
}

form{
    text-align: center;
}

label{
    font-family: Cambria;
}

input{
    text-align: center;
    width: 400px;
    height: 25px;
    align-content: center;
}

input{
    text-align: center;
    width: 400px;
    height: 25px;
    align-content: center;
}

.botao-coment{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 406px;
    height: 30px;
}

/* SESSÃO DE PRODUTOS */

.produtos{
    width: 100%;
    height: 920px;
    background-color: gray;
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 0%;
}

.produtosprod{
    text-align: center;
    height: 920px;
    width: 80%;
    background-color: white;
    display: inline-block;
    margin: 0px;
    padding: 0%;
    font-size: 0%;
    vertical-align: bottom;
}

.prod{
    display: inline-block;
    width: 20%;
    height: 25%;
    background-color: white;
    --border: 2px violet solid;
    margin: 10px 20px 10px 20px;
    vertical-align: bottom;
    --border: 3px black solid;
}

.fogao-atlas, .fogao-consul, .Geladeira_Brastemp_Prata, .Geladeira_Consul,
.Geladeira_Brastemp_Branca,.Lava_Roupa_Brastemp, .Lava_Roupa_Philco, .Lavadoura_Brastemp, 
.Freezer_Electrolux, .Micro_ElectroLux, .Micro_Ondas_Consul, .Micro_Philco{
    width: 60%;
    height: 60%;
}

.produtos .titulo-prod{
    background-color: white;
}

.preco-cort{
    font-size: 12px;
    background-color: white;
    margin: 3px 0px 5px 0px;
    text-decoration: line-through;
}

.preco-venda{
    font-size: 16px; 
    background-color: white;
    margin: 3px 0px 5px 0px;
}

/* FOOTER */
.rodape{
    --border: 2px violet solid;
    position: absolute;	
    width:100%;
    background-color: #F7F7F7;
    text-align: center;
    bottom: -68%;

}
.logofooter{
    background-color: #ba0403;
    width: 100%;
    text-align: center;
}

.copyright{
    font-weight: bold;
    background-color:  #F7F7F7;
    width: 100%;
}
/* FIM - FOOTER */