/* BODY */
*{
    box-sizing: border-box;
}
body {
    --min-height: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
/* MENU - PADRÃO EM TODAS AS PAGINAS (exceto CADASTRO) */
.menubar{
    overflow: hidden;
}
.menu{
    position: fixed;
    background-color: #ba0403;
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
}

.logomenu{
    width: 12%;
    --border:5px solid violet;
    padding: 20px 0px 20px 0px;
    margin: 0px 0px 0px 200px;    
    -moz-transition: all 0.3s;
    -webkit-transition: all .3s;
}
.logomenu:hover{
    --border: 4px violet solid;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.logomenumain{
    max-width: 14%;
    --border:5px solid violet;
    padding: 0px 20px 0px 20px;
    margin: 0px 0px 4px 0px;
    -moz-transition: all 0.3s;
    -webkit-transition: all .3s;
}
.logomenumain:hover{
    --border: 4px violet solid;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.menucadastro{
    width: 100%;
    position: fixed;
    top: 0%;
    background-color: #ba0403;
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
}
/* FIM - MENU */
/* LOGO PAGINAS - CADA PAGINA TEM SEU LOGO PORÉM O TEAMPLATE É PADRÃO */
.logo{
    --border: 4px violet solid;
    background-color: #ba0403;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    margin: 56px 0px 10px 0px;
}
.imglogo{
    width: 15%;
}
.logocadastro{
    --border: 4px violet solid;
    background-color: #ba0403;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    margin: 142px 0px 10px 0px;
}
/* FIM - LOGO PAGINAS */
/* CAPA - HOME/INDEX */

.banner{
    overflow: hidden;
}
.imagemcapa{
    --border: 4px violet solid;
    max-width: 100%;
    height: 820px;
    -moz-transition: all 0.3s;
    -webkit-transition: all .3s;
}

.imagemcapa:hover{
    --border: 4px violet solid;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.maincapadiv{
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: -180px;
    text-align: center;
    --border: 2px black solid;    
}
.maincapa[type="radio"]{
    display: none;
    --border: 0.5px solid;
    background-color: hsl(0, 0%, 100%, 0.5);
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0px 20px 0px 20px;
    
}
.maincapa[type="radio"] + label{
    border: none;
    background-color:hsl(0, 3%, 16%, 0.6);
    border-radius: 50%;
    padding: 10px 18px 10px 18px;
    margin: 0px 20px 0px 20px;
    cursor: pointer;
}
.maincapa[type="radio"] + label:hover{
    background-color:hsl(0, 97%, 37%, 0.5);
    -webkit-transition: background-color .5s ease;
    transition: background-color .5s ease;
}
/* FIM - CAPA INDEX */
/* LOGIN HOME/INDEX */
.login{
    --border: 4px violet solid;
    background-color: white;
    margin-bottom: 0px;
    height: 250px;
}
.logologin{
    --border: 4px violet solid;
    background-color: #ba0403;
    width: 100%;
    margin: 0px 0px 20px 0px;
    text-align: center;
}
.loginform{
    --border: 4px violet solid;
    height: 160px;
    text-align: center;
}
.loginlabel {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.logininput{
    height: 35px;
    width: 400px;
    text-align: center;
}
.logarlogin{
    width: 205px;
    cursor: pointer;
    height: 35px;
    margin-top: 10px;
}
.logincadastrar{
    width: 190px;
    height: 35px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.logincadastrarlink{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
/* FIM - LOGIN */
/* REDES SOCIAIS - CONTATOS */
.contatos{
    --border: 3px violet solid;
    overflow: hidden;
    width: 100%;
    max-height:150px;
    text-align: center;
    padding: 0;
    margin-top: -10px;
}
.contatos:hover{
    overflow: hidden;
    max-height:150px;
}
.contatodivtwitter, .contatodivemail, .contatodivwpp{
    --border: 1px red solid;
    font-size: 0;
    width: 33.45%;
    height: 150px;
    margin: -10px -3px -5px -3px;
    display: inline-block;
    vertical-align: bottom;
    background-color: #292727;
}
/* FIM - REDES SOCIAIS */
/* COMENTARIOS - CONTATOS */
.logocomentarios{
    --border: 4px violet solid;
    background-color: #ba0403;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    margin: 0px 0px 10px 0px;
}
.comentariosform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.labelcontatos{
    width: 400px;
    margin: 3px 0px 0px 0px;
    --border: 4px violet solid;
    padding: 0;
}
.inputcontatos{
    width: 400px;
    margin: 2px 0px 5px 0px;
    height: 35px;
    text-align: center;
    --border: 4px violet solid;
    padding: 0;
}
.comentarioscontatos{
    width: 400px;
    text-align: center;
        
    vertical-align: 50%;
    margin: 5px 0px 5px 0px;
    font-size: 20px;
}
.botao-coment{
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 400px;
    height: 30px;
}
/* FIM - COMENTRIOS CONTATOS */
/* FORM - CADASTRO */

.cadastroform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.h1cadastro{
    font-family: Cambria;
    width: 400px;
    --border: 4px violet solid;
}
.labelcadastro{
    width: 400px;
    margin: 10px 0px 0px 0px;
    --border: 4px violet solid;
}
.inputcadastro{
    width: 400px;
    height: 25px;
    text-align: center;
    margin-bottom: 5px;
    margin: 0px 0px 0px 0px;
    --border: 2px violet solid;
}
.botaocadastrar{
    font-family: Cambria;
    width: 400px;
    height: 30px;
    margin: 10px 0px 0px 0px;
    cursor: pointer;
}
/* FIM - FORM CADASTRO */
/* TABELA - LOJAS */
.descontosfrase{
    font-size: 20px;
    background-color: white;
    text-align: center;
}
.tablediv{
    --border: 4px violet solid;
    text-align: center;
}
/* FIM - TABELA */
/* FOOTER - PADRÃO PARA TODAS AS PAGINAS */
.rodape{
    --border: 2px violet solid;
    position: absolute;	
    width:100%;
    background-color: #F7F7F7;
    text-align: center;
    bottom: -71%;
}
.logofooter{
    background-color: #ba0403;
    width: 100%;
    text-align: center;
    margin: 0;
    --border: 2px violet solid;
}
.imgpag{
    width: 25%;
    --border: 2px violet solid;
    margin-top: 15px;
}
.copyright{
    font-weight: bold;
    background-color:  #F7F7F7;
    width: 100%;
    --border: 2px violet solid;
}
/* FIM - FOOTER */




/* PRODUTOS */

/* MENU LATERAL - PRODUTOS */
.prodCategoriaBarra{
    height: 75px;
    width: 100%;
    background-color:  #292727;
    display: inline-block;
    margin: 0;
    padding-top: none;
    --border: 4px violet solid;
    text-align: center;

}
.categoria{
    display: inline-block;
    padding: 21px 77px 21px;
    margin: 0px 0px 12px;
    vertical-align: center;
    --border: 4px violet solid;
    color: blanchedalmond;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -moz-transition: all 0.5s;
    -webkit-transition: all .5s;
}
.categoria:hover{
    color: rgba(255, 1, 1, 0.747);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* COLEÇÃO - PRODUTOS */
.produtosprod{
    --border: 4px violet solid;
    text-align: center;
    height: 850px;
    width: 100%;
    background-color: white;
    display:block;
    margin: 10px 0px 0px 0px;
    padding: 0%;
    font-size: 0%;
    --vertical-align: bottom;
    
}
.prod{
    --border: 2px rgb(70, 228, 228) solid;
    display: inline-block;
    width: 20%;
    height:260px;
    background-color: white;
    margin: 10px 20px 10px 20px;
    padding: 10px;
    cursor: pointer;
}
/* PRODUTO ESPECIFICO */
.fogao-atlas, .fogao-consul, .Geladeira_Brastemp_Prata, .Geladeira_Consul,
.Geladeira_Brastemp_Branca,.Lava_Roupa_Brastemp, .Lava_Roupa_Philco, .Lavadoura_Brastemp, 
.Freezer_Electrolux, .Micro_ElectroLux, .Micro_Ondas_Consul, .Micro_Philco{
    width: 220px;
    height: 170px;
    /* -moz-transition: linear 0.2s;
    -webkit-transition: linear  0.2s; */
}

.produtos .titulo-prod{
    background-color: white;
}
.preco-cort{
    font-size: 12px;
    background-color: white;
    margin: 3px 0px 5px 0px;
    text-decoration: line-through;
}
.preco-venda{
    font-size: 16px; 
    background-color: white;
    margin: 3px 0px 5px 0px;
    color: red;
}

/* FIM - PRODUTOS */

/* .maincapa[type="radio"]{
    display: none;
    --border: 0.5px solid;
    background-color: hsl(0, 0%, 100%, 0.5);
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0px 20px 0px 20px;
    
}
.maincapa[type="radio"] + label{
    border: none;
    background-color:hsl(0, 3%, 16%, 0.6);
    border-radius: 50%;
    padding: 10px 18px 10px 18px;
    margin: 0px 20px 0px 20px;
    cursor: pointer;
}
.maincapa[type="radio"] + label:hover{
    background-color:hsl(0, 97%, 37%, 0.5);
    -webkit-transition: background-color .5s ease;
    transition: background-color .5s ease;
} */